body{
	background-color: #effdo1;	
	font-family: "Lucida Grande", sans-serif;	
	animation: scale 2s;
	background-image: url(images/"background.jpeg");
}

@keyframes scale {
  0%   { transform: scale(0.5,0.5); }
  100% { transform: scale(1,1); }
}

#omot{
	width:1500px;
	height:auto;
	margin:10px auto;
	border:5px solid black;
}


#zaglavlje{
    text-align:center;
	background-color:#eff993;

}

#logo{
	width:5%;
	height:5%;
	border-radius: 50%;
}


#sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;    
    background-color: #000000;
    padding-top: 20px;
}

#sidenav a {
    padding: 16px 8px 16px 16px;
    font-size: 20px;
    color: #bec4ce;
    display: block;
	text-decoration:none; 
}


#socialMedia {
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #000000;
    padding-top: 20px;
}

#socialMedia a{
	padding: 20px 18px 16px 16px;
	font-size:25px;
	color:#bec4ce;
	display:block;
	text-decoration:none;  
}




fieldset{
    background-color:#e8eff9;
	border:1px solid black;
    max-width:1000px;
    padding:16px; 
	margin:auto;
}

legend {
    border:1px solid black;
    background-color:white;
    color:green;
    font-size:90%;
    text-align:right;
}
 

#tekst{
	display: flex;
	flex-direction: column;
	background-color: #9bed7b;
}

#tekst> p {
    background-color: #ffffff;
    margin: 25px;
    padding: 30px;
    font-size: 15px;
	border-radius:20px;
}

#tekst>h3{
	padding-left:20px;
}


iframe{
    margin-left:auto;
    margin-right:auto;
    float:none;
}

/*EUROPE*/

.grad{
	display: flex;
	flex-direction:column ;
	background-color:#77cba4; 
}

.grad> p{
	background-color: #e8eff9;
    margin: 25px;
    padding: 30px;
    font-size: 15px;
} 

 
/*AMERICA*/

.gradA{
	display: flex;
	flex-flow: column wrap;
	background-color:#779ecb;
}

.gradA> p{
	background-color: #e8eff9;
    margin: 25px;
    padding: 30px;
    font-size: 15px;
	
} 


/*ASIA*/

.gradB{
	display: flex;
	flex-flow: column wrap;
	background-color:#cb7a77;
}

.gradB> p{
	background-color: #e8eff9;
    margin: 25px;
    padding: 30px;
    font-size: 15px;
} 

/*slike*/

section {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   background-color:#cba477; 
}
.media { 
   min-width: 0;
   margin: 5px;
}
img {
   width: 500px;
   max-width: 100%; 
   height: 300px;
   border: 2px solid black; 
} 

 
#zemlja{
	width:10%;
	height:15%;
	border:none;
}

#menu2{
	height:50px;
	background-color:#000000;
}

#menu2 a{
	color:#bec4ce;
	text-decoration:none;
	display: flex row;
    justify-content: center;
	margin-top:60%;
}

audio{
	width:350px;
	height:50px;
	float:right;
}















